version: "3.9"

services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - redis
      - postgres

  worker:
    build:
      context: ./backend
      dockerfile: Dockerfile.worker
    container_name: worker
    env_file:
      - ./backend/.env
    depends_on:
      - redis
      - postgres

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  postgres:
    image: postgres:15
    container_name: postgres
    env_file:
      - ./backend/.env    # backend lo create chesina DB env vars use chesthunam
    ports:
      - "5432:5432"

  frontend:
    image: nginx:alpine
    container_name: frontend
    volumes:
      - ./frontend:/usr/share/nginx/html
    ports:
      - "3000:80"
